.social {
    display: flex;
 
}

.social__item {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.Viber_div{
    font-size: 32px;
    font-weight: 700;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div_after::after{
content: '';
display: block;
width: 3px;
background-color: rgba(0, 0, 0, 0.502);
height: 30px;
}
.soc_svg_arrow{
    fill: green;
}
.social__item_link {
    width: 44px;
    height: 44px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-delay: 0;
    transition-property: background-color;
    transition-timing-function: var(--transition-cubic);
    &:hover,
    &:focus {
    background-color: #2196F3;
        }
}

.social-link_svg {
    fill: #ffffff;
    transition-duration: 250ms;
    transition-delay: 0;
    transition-property: fill;
    transition-timing-function: var(--transition-cubic);
.social__item_link:hover & {
        fill: #ffffff;
    }

    .social__item_link:focus & {
        fill: #ffffff;
    }

    &:hover,
    &:focus {
        width: 20px;
        height: 20px;
        fill: #ffffff;
    }
}

