.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    &::before{
        content: "";
        display: block;
        background-color: #E7E9FC;
        height: 1px;
        width:100%;  
        top: 0;
        position: absolute;
        box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 1px 6px rgba(46, 47, 66, 0.08);
    
    }
}

.footer_flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width:768px) {
    display: flex;
    justify-content: center;
    gap: 10px;
}
@media screen and (min-width:1200px) {
justify-content: space-between;
flex-direction: row;
align-items: center;
}
}
.logo_footer{
    margin-bottom: 20px;
}
.footer_contact{
    display: flex;
    justify-content: center;
    width: 300px;
 
}
.header-mob__link {
    font-size: 40px;
    font-weight: 500;
    line-height: calc(46.8/40);
    color: var(--color-black);
}

.soc-footer__contacts {
width: 300px;
@media screen and (min-width:1200px) {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 110px;
    align-items: center;
    }
}

.soc-mob__contacts_item:not(:last-child) {
    margin-bottom: 22px;
}

.menu-footer__number {
    font-size: 30px;
    font-weight: 500;
    line-height: calc(39 / 34);
    color: var(--color-blue);
}

.menu-mob__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(28/24);
    color: var(--color-gray);
}

.soc-mob__list {
    display: flex;
    gap: 20px;
}

